<a href="https://colab.research.google.com/github/KodumuruRaja/Association-Rule-Learning-Algorithms-/blob/main/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from mlxtend.frequent_patterns import apriori,association_rules

In [ ]:
data=pd.read_csv("/content/Online-Retail.csv")

In [ ]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
data.shape

(541909, 8)

In [ ]:
# stripping extra spaces in the description
data['Description']=data['Description'].str.strip()
#dropping the rows without any invoice number
data.dropna(subset=['InvoiceNo'],axis=0,inplace=True)
data['InvoiceNo']=data['InvoiceNo'].astype('str')
# dropping all transactions which were under on credit
data=data[~data['InvoiceNo'].str.contains('C')]

In [ ]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [ ]:
# Splitting the data according to the region of transaction,(transaction done in france)
France=(data[data['Country']=='France'].groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [ ]:
# applying one hot encoding to make data suitable
def encode(x):
  if(x<=0):
    return 0
  if(x>=1):
    return 1
encoded=France.applymap(encode)
France=encoded

In [ ]:
France.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                            0  ...                                0
536852                            0  ...                                0
536974                            0  ...                                0
537065                            0  ...                                0
537463                            0  ...                                0

[5 rows x 1563 columns]

In [ ]:
items=apriori(France,min_support=0.1,use_colnames=True)
rules=association_rules(items,metric="lift",min_threshold=1)
rules=rules.sort_values(['confidence','lift'],ascending=[False,False])

In [ ]:
rules.head()

                                 antecedents  ... conviction
40           (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
42  (POSTAGE, SET/6 RED SPOTTY PAPER PLATES)  ...  18.107143
35       (STRAWBERRY LUNCH BOX WITH CUTLERY)  ...   3.755102
27      (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   3.637755
41             (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041

[5 rows x 9 columns]